flows.json
[{"id":"d46344ee.3e3538","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6489d08e.66caa","type":"ui_form","z":"d46344ee.3e3538","name":"","label":"","group":"7b422880.39aa58","order":0,"width":0,"height":0,"options":[{"label":"Adult Mortality","value":"a","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"b","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"c","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"d","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"e","type":"number","required":true,"rows":null},{"label":"Measles ","value":"f","type":"number","required":true,"rows":null},{"label":" BMI ","value":"g","type":"number","required":true,"rows":null},{"label":"under-five deaths ","value":"h","type":"number","required":true,"rows":null},{"label":"Polio","value":"i","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"j","type":"number","required":true,"rows":null},{"label":"Diphtheria ","value":"k","type":"number","required":true,"rows":null},{"label":" HIV/AIDS","value":"l","type":"number","required":true,"rows":null},{"label":"GDP","value":"m","type":"number","required":true,"rows":null},{"label":"Population","value":"n","type":"number","required":true,"rows":null},{"label":" thinness  1-19 years","value":"o","type":"number","required":true,"rows":null},{"label":" thinness 5-9 years","value":"p","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"q","type":"number","required":true,"rows":null},{"label":"Schooling","value":"r","type":"number","required":true,"rows":null},{"label":"Developed","value":"s","type":"number","required":true,"rows":null},{"label":"Developing","value":"t","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":""},"payload":"","submit":"Predict","cancel":"cancel","topic":"","x":70,"y":100,"wires":[["e0320fbb.4ad21"]]},{"id":"e0320fbb.4ad21","type":"function","z":"d46344ee.3e3538","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\n\n\n\n\n\n\n\n//following are required to receive a token\nvar apikey=\"KhwPiS7dEfRt6jMYnpk53n0nMWe5Er9quUlD6b5BlfXs\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":340,"y":160,"wires":[["fdf3e1b8.d2419"]]},{"id":"a5d1a043.2ea88","type":"http request","z":"d46344ee.3e3538","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/58431682-1cee-4f80-8956-1029b8f42776/deployments/ae5b657f-2b25-4671-adfe-84b948e5a1cf/online","tls":"","persist":false,"proxy":"","authType":"","x":610,"y":220,"wires":[["6b10d16e.74929"]]},{"id":"782ece7c.2257e","type":"debug","z":"d46344ee.3e3538","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":930,"y":240,"wires":[]},{"id":"6b10d16e.74929","type":"function","z":"d46344ee.3e3538","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":300,"wires":[["782ece7c.2257e","b481a808.3dcf68"]]},{"id":"4a8b3ab4.1fcd04","type":"function","z":"d46344ee.3e3538","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"58431682-1cee-4f80-8956-1029b8f42776\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":['Adult Mortality', 'infant deaths', 'Alcohol',\n       'percentage expenditure', 'Hepatitis B', 'Measles ', ' BMI ',\n       'under-five deaths ', 'Polio', 'Total expenditure', 'Diphtheria ',\n       ' HIV/AIDS', 'GDP', 'Population', ' thinness  1-19 years',\n       ' thinness 5-9 years', 'Income composition of resources', 'Schooling',\n       'Developed', 'Developing'],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":80,"wires":[["a5d1a043.2ea88"]]},{"id":"fdf3e1b8.d2419","type":"http request","z":"d46344ee.3e3538","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":450,"y":80,"wires":[["4a8b3ab4.1fcd04"]]},{"id":"b481a808.3dcf68","type":"ui_text","z":"d46344ee.3e3538","group":"7b422880.39aa58","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":920,"y":360,"wires":[]},{"id":"7b422880.39aa58","type":"ui_group","z":"","name":"Machine Learning Model","tab":"592e43ec.c5c39c","order":1,"disp":true,"width":"6","collapse":false},{"id":"592e43ec.c5c39c","type":"ui_tab","z":"","name":"Home Page","icon":"dashboard","disabled":false,"hidden":false}]